@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.1408 0.0044 285.8229);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.1408 0.0044 285.8229);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.1408 0.0044 285.8229);
  --primary: oklch(0.5184 0.2366 286.1812);
  --primary-foreground: oklch(0.9846 0.0017 247.8389);
  --secondary: oklch(0.6231 0.188 259.8145);
  --secondary-foreground: oklch(0.9851 0 0);
  --muted: oklch(0.9674 0.0013 286.3752);
  --muted-foreground: oklch(0.5517 0.0138 285.9385);
  --accent: oklch(0.9674 0.0013 286.3752);
  --accent-foreground: oklch(0.1408 0.0044 285.8229);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --destructive-foreground: oklch(0.9851 0 0);
  --border: oklch(0.9197 0.004 286.3202);
  --input: oklch(0.9197 0.004 286.3202);
  --ring: oklch(0.6056 0.2189 292.7172);
  --chart-1: oklch(0.6056 0.2189 292.7172);
  --chart-2: oklch(0.6231 0.188 259.8145);
  --chart-3: oklch(0.7049 0.1867 47.6044);
  --chart-4: oklch(0.7038 0.123 182.5025);
  --chart-5: oklch(0.6559 0.2118 354.3084);
  --sidebar: oklch(0.9674 0.0013 286.3752);
  --sidebar-foreground: oklch(0.5517 0.0138 285.9385);
  --sidebar-primary: oklch(0.5413 0.2466 293.009);
  --sidebar-primary-foreground: oklch(0.9846 0.0017 247.8389);
  --sidebar-accent: oklch(1 0 0);
  --sidebar-accent-foreground: oklch(0.1408 0.0044 285.8229);
  --sidebar-border: oklch(0.9197 0.004 286.3202);
  --sidebar-ring: oklch(0.6056 0.2189 292.7172);

  --radius: 0.5rem;
  --shadow-2xs: 0px 2px 4px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 2px 4px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm:
    0px 2px 4px 0px hsl(0 0% 0% / 0.1), 0px 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow:
    0px 2px 4px 0px hsl(0 0% 0% / 0.1), 0px 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md:
    0px 2px 4px 0px hsl(0 0% 0% / 0.1), 0px 2px 4px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg:
    0px 2px 4px 0px hsl(0 0% 0% / 0.1), 0px 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-xl:
    0px 2px 4px 0px hsl(0 0% 0% / 0.1), 0px 8px 10px -1px hsl(0 0% 0% / 0.1);
  --: 0px 2px 4px 0px hsl(0 0% 0% / 0.25);
  --tracking-normal: 0rem;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.1408 0.0044 285.8229);
  --foreground: oklch(0.9851 0 0);
  --card: oklch(0.1408 0.0044 285.8229);
  --card-foreground: oklch(0.9851 0 0);
  --popover: oklch(0.1408 0.0044 285.8229);
  --popover-foreground: oklch(0.9851 0 0);
  --primary: oklch(0.5413 0.2466 293.009);
  --primary-foreground: oklch(0.9846 0.0017 247.8389);
  --secondary: oklch(0.5461 0.2152 262.8809);
  --secondary-foreground: oklch(0.9846 0.0017 247.8389);
  --muted: oklch(0.2739 0.0055 286.0326);
  --muted-foreground: oklch(0.7118 0.0129 286.0665);
  --accent: oklch(0.2739 0.0055 286.0326);
  --accent-foreground: oklch(0.9851 0 0);
  --destructive: oklch(0.3958 0.1331 25.723);
  --destructive-foreground: oklch(0.9851 0 0);
  --border: oklch(0.2739 0.0055 286.0326);
  --input: oklch(0.2739 0.0055 286.0326);
  --ring: oklch(0.709 0.1592 293.5412);
  --chart-1: oklch(0.6056 0.2189 292.7172);
  --chart-2: oklch(0.6231 0.188 259.8145);
  --chart-3: oklch(0.7049 0.1867 47.6044);
  --chart-4: oklch(0.7038 0.123 182.5025);
  --chart-5: oklch(0.6559 0.2118 354.3084);
  --sidebar: oklch(0.1408 0.0044 285.8229);
  --sidebar-foreground: oklch(0.7118 0.0129 286.0665);
  --sidebar-primary: oklch(0.5413 0.2466 293.009);
  --sidebar-primary-foreground: oklch(0.9846 0.0017 247.8389);
  --sidebar-accent: oklch(0.2739 0.0055 286.0326);
  --sidebar-accent-foreground: oklch(0.9851 0 0);
  --sidebar-border: oklch(0.2739 0.0055 286.0326);
  --sidebar-ring: oklch(0.709 0.1592 293.5412);

  --radius: 0.5rem;
  --shadow-2xs: 0px 2px 4px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 2px 4px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm:
    0px 2px 4px 0px hsl(0 0% 0% / 0.1), 0px 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow:
    0px 2px 4px 0px hsl(0 0% 0% / 0.1), 0px 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md:
    0px 2px 4px 0px hsl(0 0% 0% / 0.1), 0px 2px 4px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg:
    0px 2px 4px 0px hsl(0 0% 0% / 0.1), 0px 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-xl:
    0px 2px 4px 0px hsl(0 0% 0% / 0.1), 0px 8px 10px -1px hsl(0 0% 0% / 0.1);
  --: 0px 2px 4px 0px hsl(0 0% 0% / 0.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --: var(--);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

body {
  letter-spacing: var(--tracking-normal);
}
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #673de6;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}

#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow:
    0 0 10px #673de6,
    0 0 5px #673de6;
  opacity: 1;
  transform: rotate(3deg) translate(0px, -4px);
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
